.callout[data-callout="pdf"] {
    --callout-color: 247, 0, 0;
    --callout-icon : lucide-file-text;
}

.callout[data-callout="link"] {
    --callout-color: 33, 126, 255;
    --callout-icon : lucide-link;
}
